{% extends 'index/index.html.twig' %}

{% block title %}{{ 'team.edit.title' | trans }}{% endblock %}

{% block content %}
    <h4 class="card-title mt-3 text-center">{{ 'team.edit.title' | trans }}</h4>
    <hr>
    {{ include('team/_form.html.twig', {'button_label': 'Update'}) }}
    <hr>
    <div class="float-left">
        <a class="btn btn-dark" href="{{ path('team_index') }}">back to list</a>
    </div>
    {{ include('team/_delete_form.html.twig') }}
{% endblock %}
