{% extends 'index/index.html.twig' %}

{% block title %}{{ 'team.index.title' | trans }}{% endblock %}

{% block additionalContentClasses %}{% endblock %}
{% block content %}
    <h4 class="card-title mt-3 text-center">{{ 'team.index.title' | trans }}</h4>
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'app.id' | trans }}</th>
                <th>{{ 'team.name' | trans }}</th>
                <th>{{ 'team.description' | trans }}</th>
                <th>{{ 'app.actions' }}</th>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ team.id }}</td>
                <td>{{ team.name }}</td>
                <td>{{ team.description }}</td>
                <td>
                    <a class="btn btn-dark" href="{{ path('team_show', {'id': team.id}) }}">{{ 'app.show' | trans }}</a>
                    <a class="btn btn-dark" href="{{ path('team_edit', {'id': team.id}) }}">{{ 'app.edit' | trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'app.no_records_found' | trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('team_new') }}">{{ 'app.create' | trans }}</a>
{% endblock %}
