{% extends 'index/index.html.twig' %}

{% block title %}{{ 'team.title' | trans }}{% endblock %}

{% block content %}
    <h4 class="card-title mt-3 text-center">{{ 'team.title' | trans }}</h4>
    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'app.id' | trans }}</th>
                <td>{{ team.id }}</td>
            </tr>
            <tr>
                <th>{{ 'team.name' | trans }}</th>
                <td>{{ team.name }}</td>
            </tr>
            <tr>
                <th>{{ 'team.description' | trans }}</th>
                <td>{{ team.description }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-dark" href="{{ path('team_index') }}">{{ 'app.back_to_list' | trans }}</a>

    <a class="btn btn-dark" href="{{ path('team_edit', {'id': team.id}) }}">{{ 'app.edit' | trans }}</a>

    {{ include('team/_delete_form.html.twig') }}
{% endblock %}
