{% extends 'index/index.html.twig' %}

{% block title %}{{ 'app.change_password' | trans }}{% endblock %}

{% block content %}
    <h4 class="card-title mt-3 text-center">{{ 'app.change_password' | trans }}</h4>
    <hr>
    {% if tokenError is not defined %}
        {{ form_start(changePasswordForm) }}
        <div class="form-group">
            {{ form_row(changePasswordForm.plainPassword) }}
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block">Submit</button>
        </div>
        {{ form_end(changePasswordForm) }}
    {% else %}
        <p class="text-center">{{ tokenError | trans }}
        </p>
    {% endif %}
{% endblock %}
