{% extends 'index/index.html.twig' %}

{% block title %}{{ 'app.reset_password' | trans }}{% endblock %}

{% block content %}
    <h4 class="card-title mt-3 text-center">{{ 'app.reset_password' | trans }}</h4>
    <hr>
    {% if mailSent == false %}
        {{ form_start(resetPasswordForm) }}
        <div class="form-group">
            {{ form_row(resetPasswordForm.email) }}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">{{ 'app.send_reset_email' | trans }}</button>
        </div>
        {{ form_end(resetPasswordForm) }}
    {% else %}
        <p class="text-center">{{ 'app.reset_email_sent' }}</p>
    {% endif %}
{% endblock %}
