{% extends 'index/index.html.twig' %}

{% block title %}{{ 'app.create_account' | trans }}{% endblock %}

{% block content %}
    <h4 class="card-title mt-3 text-center">{{ 'app.create_account' | trans }}</h4>
    <hr>
    {{ form_start(registrationForm) }}
    <div class="form-group">
        {{ form_row(registrationForm.email) }}
    </div>
    <div class="form-group">
        {{ form_row(registrationForm.plainPassword) }}
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">{{ 'app.submit' | trans }}</button>
    </div>
    {{ form_end(registrationForm) }}
{% endblock %}
