{% extends 'index/index.html.twig' %}

{% block title %}{{ 'tournament.edit.title' | trans }}{% endblock %}

{% block content %}
    <h4 class="card-title mt-3 text-center">{{ 'tournament.edit.title' | trans }}</h4>
    <hr>
    {{ include('tournament/_form.html.twig', {'button_label': 'Update'}) }}
    <hr>
    <div class="float-left">
        <a class="btn btn-dark" href="{{ path('tournament_index') }}">{{ 'app.back_to_list' | trans }}</a>
    </div>
    {{ include('tournament/_delete_form.html.twig') }}
{% endblock %}
