{% extends 'index/index.html.twig' %}

{% block title %}{{ 'tournament.index.title' | trans }}{% endblock %}

{% block additionalContentClasses %}{% endblock %}

{% block content %}
    <h4 class="card-title mt-3 text-center">{{ 'team.index.title' | trans }}</h4>
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'app.id' | trans }}</th>
                <th>{{ 'tournament.name' | trans }}</th>
                <th>{{ 'tournament.description' | trans }}</th>
                <th>{{ 'tournament.start_date' | trans }}</th>
                <th>{{ 'app.actions' | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for tournament in tournaments %}
            <tr>
                <td>{{ tournament.id }}</td>
                <td>{{ tournament.name }}</td>
                <td>{{ tournament.description }}</td>
                <td>{{ tournament.startDate ? tournament.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>

                    <a class="btn btn-dark" href="{{ path('tournament_show', {'id': tournament.id}) }}">{{ 'app.show' | trans }}</a>
                    <a class="btn btn-dark" href="{{ path('tournament_edit', {'id': tournament.id}) }}">{{ 'app.edit' | trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{ 'app.no_records_found' | trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('tournament_new') }}">{{ 'app.create' | trans }}</a>
{% endblock %}
